body {
    font-family: 'Impact', 'Times New Roman'; 
    background-color: lavender;  
    background-repeat: no-repeat; 
    background-size: cover; 
    color: black;
    /*text-shadow: 2px 2px white; */

    display: flex; 
    flex-direction: column;  
    justify-content: center; 
    align-items: center; 
}

#pancakes {
    max-width: 500px; 
    max-height: auto;
    border-radius: 20px;  
}

#main {
    opacity: 0; 
    transition: opacity 3s;  
    /*
    background-image: url('../images/dinner.jpeg'); 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: fixed; 
    margin: 0px;  
    padding: 0px;  
    */ 
}

#home {
    display: flex; 
    flex-direction: column;  
    justify-content: center; 
    align-items: center; 
}

h1 {
    text-align: center; 
    margin: 5px; 
}

h3 {
    margin: 5px; 
    text-align: center; 
    width: 50%; 
}

#back {
    text-align: center; 
}

#main {
    margin-bottom: 40px; 
}

section {
    display: grid; 
    grid-template-columns: 130px auto; 
    grid-template-rows: 1fr 1fr 1fr; 
    
    background-color: snow; 
    margin: 20px;  
    padding: 20px; 

    border-radius: 20px; 
}

.image {
    grid-column: 1;
    grid-row: 1 / span 3; 
}

.title {
    grid-column: 2; 
    grid-row: 1; 
}

.ingredients {
    grid-column: 2; 
    grid-row: 2;
}

.link {
    grid-column: 2; 
    grid-row: 3;
}

#footer-text {
    color: white; 
    background-color: black;
    padding: 10px;
    margin: 0px; 
    display:flex; 
    justify-content: center; 
    position:fixed;
    left:0px;
    bottom:0px;
    height:25px;
    width:100%;
 
}